@import "tailwindcss";
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-UltraLight.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-ExtraBlack.woff2") format("woff2");
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Heavy.woff2") format("woff2");
  font-weight: 960;
  font-style: normal;
}
:root {
  --background: #9ea8ae;
  --foreground: #171717;
  --component-bg: #d3d9dc;
  --component-bg-state: linear-gradient(to top, #ffffff, #f1f5f9);
  --component-hover: #9ea8ae;
  --border: #69808c;
  --text-secondary: #171717;
  --editing-bg: #d4d4d4;
  --text-disabled: #a0a0a0;
}

.dark {
  --background: #001c29;
  --foreground: #ededed;
  --component-bg: #0e2f3f;
  --component-bg-state: linear-gradient(to top, #121212, #020202);
  --component-hover: #194054;
  --border: #194054;
  --text-secondary: #d1d5db;
  --editing-bg: #2f2f2f;
  --text-disabled: #6b7280;
}

body {
  background: var(--background);
  color: var(--foreground);
  direction: rtl;
}

body,
* {
  font-family: "IRANYekanX", sans-serif;
  font-feature-settings: "ss01";
}

.persian-digits,
.persian-digits * {
  font-family: inherit;
  font-feature-settings: "ss01";
  direction: rtl;
  unicode-bidi: isolate;
  font-variant-numeric: ordinal;
  /* اعداد فارسی در اکثر فونت‌های فارسی با این تنظیمات نمایش داده می‌شوند */
}

@layer components {
  @keyframes loading {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@layer components {
  .dashboard-card {
    @apply bg-[var(--component-bg)] backdrop-blur-md shadow-lg rounded-xl border border-[var(--border)];
  }
  
  .dashboard-container {
    @apply max-w-7xl mx-auto py-4 px-4 lg:px-8;
  }
}
