@import "tailwindcss";
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-UltraLight.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-ExtraBlack.woff2") format("woff2");
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IranYekan/IRANYekanX-Heavy.woff2") format("woff2");
  font-weight: 960;
  font-style: normal;
}
:root {
  --background: #f6f6f6;
  --foreground: #171717;
  --component-bg: #dbdada;
  --component-bg-state: linear-gradient(to top, #ffffff, #f1f5f9);
  --component-hover: #cfcbcb;
  --border: #b6b6b6;
  --text-secondary: #171717;
  --editing-bg: #d4d4d4;
  --text-disabled: #a0a0a0;
}

.dark {
  --background: #121212;
  --foreground: #ededed;
  --component-bg: #1F1F1F;
  --component-bg-state: linear-gradient(to top, #121212, #020202);
  --component-hover: #2e2c2c;
  --border: #2f2f2f;
  --text-secondary: #d1d5db;
  --editing-bg: #2f2f2f;
  --text-disabled: #6b7280;
}

body {
  background: var(--background);
  color: var(--foreground);
  direction: rtl;
}

body,
* {
  font-family: "IRANYekanX", sans-serif;
  font-feature-settings: "ss01";
}

.persian-digits,
.persian-digits * {
  font-family: inherit;
  font-feature-settings: "ss01";
  direction: rtl;
  unicode-bidi: isolate;
  font-variant-numeric: ordinal;
  /* اعداد فارسی در اکثر فونت‌های فارسی با این تنظیمات نمایش داده می‌شوند */
}
